<footer class="container">
  <hr>
  <div class="footer-options-myfb">
    <ul>
      <li><a href="#">English(UK)</a></li>
      <li><a href="#">हिन्दी</a></li>
      <li><a href="#">ਪੰਜਾਬੀ</a></li>
      <li><a href="#">اردو</a></li>
      <li><a href="#">ગુજરાતી</a></li>
      <li><a href="#">বাংলা</a></li>
      <li><a href="#">தமிழ்</a></li>
      <li><a href="#">తెలుగు</a></li>
      <li><a href="#">Español</a></li>
    </ul>
  </div>
  <div style="clear:both"></div>

  <hr>
  <div class="footer-options-myfb">
    <ul>
      <li><a href="#">Mobile</a></li>
      <li><a href="#">Find Friends</a></li>
      <li><a href="#">Badges</a></li>
      <li><a href="#">People</a></li>
      <li><a href="#">Pages</a></li>
      <li><a href="#">Places</a></li>
      <li><a href="#">Games</a></li>
      <li><a href="#">Locations</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  <div style="clear:both"></div>

  <small class="copyrights-footer"> Facebook © 2017 </small>
</footer>
