<article class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="login-main">
        <h2 id="texter">Recent Logins</h2>
        <h4>Click on your picture to log in.
        </h4>
        <div class="text-center">
          <img src="../../assets/images/Capture.PNG" align="center">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="">
<label>
  <h2><i class="fa fa-shield"></i> Create a new account</h2>
</label>

        <div class="login-bottom-text1 hidden-sm"> It's free and always will be. </div>


        <div class="form-group">

          <input type="text" class="form-control" placeholder="First and LastName">
        </div>

        <div class="form-group">

          <input type="text" class="form-control" placeholder="Mobile number or Email Address">
        </div>

        <div class="form-group">

          <input type="text" class="form-control" placeholder=" New Password">
        </div>

        <div class="">
          <label>Birthday</label>
          <div class="form-group">
            <div class="col-sm-4 multibox">
              <select class="form2">
                <option>Day</option>
              </select>

            </div>
            <div class="col-sm-4 multibox">
              <select class="form1">
                <option>Month</option>
              </select>

            </div>
            <div class="col-sm-4 multibox">
              <select class="form">
                <option>Year</option>
              </select>
            </div>

          </div>

          <label class="container">
            <input type="radio" checked="checked" name="radio">Male
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="radio" checked="checked" name="radio">Female
            <span class="checkmark"></span>

          </label>
          <small>
            By clicking Create Account, you agree to our Terms and confirm that you have read our Data Policy, including our Cookie Use Policy. You may receive SMS message notifications from Facebook and can opt out at any time
          </small>
        <div style="height:10px;"></div>
        <div class="form-group">
          <label class="control-label" for=""></label>

          <button type="submit" class="btn btn-primary">  Create Account </button>
          <hr>
          <a href="#">Create a Page</a> for a celebrity, band or business

        </div>

      </div>
    </div>
  </div>
  </div>
</article>

